.aboutMeWrapper {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,78,124,0.5);

    .aboutMeIntro {
        width: 100%;
        // position: relative;
        text-align: center;
        padding: 50px;
        box-sizing: border-box;
        
    }

    .realtorQuote {
        width: 100%;
        margin: auto;
        font-size: 1.5rem;
        line-height: 2rem;
        word-spacing: 0.5rem;
        font-weight: 700;
        letter-spacing: 3px;
        font-family: 'Cookie', cursive;
    }




    .aboutMeImgWrapper{
        box-sizing: border-box;
        width: 100%;
    }

    .aboutMeImg {
        width: 70%;
    }
}







.accomplishmentsWrapper {
    width: 100%;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 3px 3px 10px black;



    .accomplishmentsContainer{
        width: 25%;
        height: 200px;
        padding: 50px;
        text-align: center;
        

    }

    .accomplishmentsContainer h1 {
        color: #8b0000;
    }
    
    .myBackgroundContainer {
        text-align: left;
    }

    .myBackgroundContainer h1 {
        text-align: center;
    }

}


//926

@media screen and (max-width: 926px) {
    .accomplishmentsWrapper {
        flex-direction: column;

        .accomplishmentsContainer {
            width: 45%;
            height: auto;
        }
    }

}


@media screen and (max-width: 500px){
    .aboutMeWrapper{
        display: flex;
        flex-direction: column;
        text-align: center;
    }


}