.contactForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 300px;
    

    .contactButton {
        &:hover {
            cursor: pointer;
        }
    }

    #formName{
        display: flex;
    }

    #formNumber{
        display: none;
    };

    #formEmail {
        display: none;
    }

    #formReason {
        display: none;
    }

    #formHow{
        display: none;
    }
}