.contactForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 300px;
    font-size: 2rem;
 
    // .firstForm {
    //     border: none;
    // }

    .firstFormStyle {
        border: none;
        border-bottom: darkblue;
    }


    .secondForm {
        display: none;
    }

    .thirdForm {
        display: none;;
    }



}