.footerWrapper {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .footerFigure{
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .footerFigure h3{
        margin: auto;
    }

    .joseStampImg {
        margin: auto;
        width: 80px;
        border-radius: 50%;
    }

    .socialMediaFooter {
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;

    }
}