// Colors being used to match Nav
$nav-bar: #004E7C;
$matching-black: #0F0C02;
$matching-red: #7D0C11;
$matching-blue: #6EB3DB;
$matching-green: #7D7B0C;
$matching-yellow: #C9C50A;

//Fonts being used
$logo: 'Bevan', cursive;
