extends layout

block content
    p
        form(action="/listings/edit")
            input(type="submit" value="Edit")
        form(action="/listings/new")
            input(type="submit" value="Create")
    p.
        list of listings here
    
