extends ../layout

block content
    p.
        listing_edit(private)
    - if (listing)
        label.
            !{listing.address}
    - else
        p.
            listing doesn't seem to exist..
