/* line 2, public/sass/_nav.scss */
.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #004E7C;
  width: 100%;
  height: 100px; }
  /* line 11, public/sass/_nav.scss */
  .navWrapper .navLinks {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; }
  /* line 19, public/sass/_nav.scss */
  .navWrapper .navLinks ul {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  /* line 29, public/sass/_nav.scss */
  .navWrapper ul li {
    font-size: 1.5rem; }
  /* line 33, public/sass/_nav.scss */
  .navWrapper ul li a {
    text-decoration: none;
    color: white; }
  /* line 38, public/sass/_nav.scss */
  .navWrapper .realtorLogo {
    width: 200px;
    height: 80px;
    object-fit: contain; }

/* line 1, public/sass/_buttonStyles.scss */
.buttonStyle {
  background-color: transparent;
  color: white;
  border: white 3px solid;
  width: 130px;
  height: 50px;
  font-size: 1rem;
  text-transform: uppercase; }
  /* line 10, public/sass/_buttonStyles.scss */
  .buttonStyle:hover {
    cursor: pointer;
    background-color: white;
    color: black; }

/* line 1, public/sass/_mainBackground.scss */
.mainBackgroundImageWrapper {
  width: 100%;
  height: 500px;
  position: relative; }
  /* line 7, public/sass/_mainBackground.scss */
  .mainBackgroundImageWrapper .mainBackgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; }
  /* line 14, public/sass/_mainBackground.scss */
  .mainBackgroundImageWrapper .salesPitch {
    color: #FFFFF0;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    letter-spacing: .5rem;
    text-align: center;
    line-height: 5rem;
    text-transform: capitalize; }
  /* line 30, public/sass/_mainBackground.scss */
  .mainBackgroundImageWrapper .salesPitchBackground {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 30px; }

/* line 1, public/sass/_introduction.scss */
.introductionWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px; }
  /* line 9, public/sass/_introduction.scss */
  .introductionWrapper .joseImgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  /* line 16, public/sass/_introduction.scss */
  .introductionWrapper .joseImg {
    width: 20rem;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #B73225;
    border: 3px double #B73225; }
  /* line 24, public/sass/_introduction.scss */
  .introductionWrapper .joseCompanyImg {
    width: 20rem; }
  /* line 27, public/sass/_introduction.scss */
  .introductionWrapper .introductionName {
    text-align: left;
    font-weight: 900;
    font-size: 2.3rem; }
  /* line 33, public/sass/_introduction.scss */
  .introductionWrapper .joseIntroduction {
    width: 60%;
    font-size: 2rem;
    letter-spacing: 3px;
    font-weight: 300;
    line-height: 5rem;
    text-align: left; }
  /* line 42, public/sass/_introduction.scss */
  .introductionWrapper .introductionContactMe {
    border-top: 3px darkslateblue solid;
    font-weight: bold;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    word-wrap: break-word;
    justify-self: flex-end;
    align-items: flex-start;
    line-height: normal;
    font-size: 1.5rem; }
  /* line 57, public/sass/_introduction.scss */
  .introductionWrapper .socialMedia {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    word-wrap: normal; }
  /* line 67, public/sass/_introduction.scss */
  .introductionWrapper .socialMediaIcons {
    border-radius: 50%;
    width: 50px; }

@media only screen and (max-width: 1065px) {
  /* line 75, public/sass/_introduction.scss */
  .introductionWrapper {
    width: 100%;
    justify-content: center;
    align-items: center; }
    /* line 80, public/sass/_introduction.scss */
    .introductionWrapper .introductionName {
      text-align: center; }
    /* line 84, public/sass/_introduction.scss */
    .introductionWrapper .joseIntroduction {
      width: 100% !important;
      padding: 0;
      margin: 0;
      text-align: center; }
    /* line 90, public/sass/_introduction.scss */
    .introductionWrapper .socialMedia {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row; } }

/* line 1, public/sass/_territories.scss */
.territoriesWrapper {
  width: 80%;
  height: auto;
  margin: auto;
  margin-bottom: 100px;
  text-align: left; }
  /* line 8, public/sass/_territories.scss */
  .territoriesWrapper .territoriesHeader {
    border-bottom: 3px solid darkslateblue; }
  /* line 13, public/sass/_territories.scss */
  .territoriesWrapper .territoriesImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  /* line 19, public/sass/_territories.scss */
  .territoriesWrapper .territoriesImg {
    width: 350px;
    height: 300px;
    border: double 2px black;
    box-shadow: 10px 10px 30px black;
    border-radius: 10%;
    object-fit: cover; }
  /* line 28, public/sass/_territories.scss */
  .territoriesWrapper .territoriesObject {
    text-align: center;
    margin-left: 50px; }
  /* line 33, public/sass/_territories.scss */
  .territoriesWrapper .allListings {
    text-align: center; }
  /* line 37, public/sass/_territories.scss */
  .territoriesWrapper .allListings a {
    text-decoration: none; }

/* line 1, public/sass/_contactForm.scss */
.formContainer {
  background-color: #004E7C;
  color: white;
  width: 100%;
  border: 3px solid black;
  text-align: left;
  font-size: 2rem;
  height: auto; }
  /* line 12, public/sass/_contactForm.scss */
  .formContainer .formIntroduction {
    text-align: center;
    margin-bottom: 100px; }
  /* line 17, public/sass/_contactForm.scss */
  .formContainer .allFormWrappers {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; }
  /* line 27, public/sass/_contactForm.scss */
  .formContainer .firstForm input[type="text"] {
    width: 300px;
    height: 30px;
    font-size: 1.2rem; }
  /* line 34, public/sass/_contactForm.scss */
  .formContainer .secondForm {
    display: none; }
  /* line 38, public/sass/_contactForm.scss */
  .formContainer .thirdForm {
    display: none;
    text-align: center; }

/* line 1, public/sass/_footer.scss */
.footerWrapper {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  /* line 9, public/sass/_footer.scss */
  .footerWrapper .footerFigure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
  /* line 17, public/sass/_footer.scss */
  .footerWrapper .footerFigure h3 {
    margin: auto; }
  /* line 21, public/sass/_footer.scss */
  .footerWrapper .joseStampImg {
    margin: auto;
    width: 80px;
    border-radius: 50%; }
  /* line 27, public/sass/_footer.scss */
  .footerWrapper .socialMediaFooter {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px; }

/*
  Red Highlight: #B73225

  Blue Minded: #004E7C

  Maroon 6: #591COB

  Grey Water: #5C5F58

  Lighter Grey: #DCE1E3
*/
/* line 23, public/sass/main.scss */
body {
  font-family: "Open Sans",sans-serif;
  padding: 0px;
  border: 0px;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Playfair Display', serif;
  color: #004E7C; }
