/* line 2, public/sass/_nav.scss */
.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #004E7C;
  width: 100%;
  height: 100px; }
  /* line 13, public/sass/_nav.scss */
  .navWrapper .navLinks {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    box-sizing: border-box;
    font-family: "Bevan", cursive;
    font-size: 1.4rem; }
  /* line 26, public/sass/_nav.scss */
  .navWrapper .navLinks ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0px; }
  /* line 41, public/sass/_nav.scss */
  .navWrapper ul li a {
    text-decoration: none;
    color: white; }

/* line 1, public/sass/_logo.scss */
.logoWrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: white;
  text-transform: uppercase; }
  /* line 11, public/sass/_logo.scss */
  .logoWrapper .logoContainer {
    position: relative;
    width: 50%;
    margin: auto;
    text-align: right; }
  /* line 21, public/sass/_logo.scss */
  .logoWrapper .logoFont {
    position: relative;
    width: 100px;
    height: 100%;
    font-family: 'Bevan', cursive;
    font-size: 1.5rem;
    letter-spacing: 20px;
    border-top: 3px inset #6EB3DB;
    border-right: 3px inset #6EB3DB;
    font-weight: 600;
    background-color: rgba(110, 179, 219, 0.1);
    padding: 2px;
    text-align: right; }
  /* line 38, public/sass/_logo.scss */
  .logoWrapper .logoFont:before {
    position: absolute;
    content: "JM";
    right: 3.5px;
    color: #6EB3DB; }
  /* line 45, public/sass/_logo.scss */
  .logoWrapper .logoFont:after {
    content: "Realty";
    color: white;
    font-weight: 300;
    position: absolute;
    font-size: 0.9rem;
    top: 100%;
    left: 100%;
    border-top: 3px inset #6EB3DB;
    border-right: 3px inset #6EB3DB; }

/* line 1, public/sass/_buttonStyles.scss */
.buttonStyle {
  background-color: transparent;
  color: white;
  border: white 3px solid;
  width: 130px;
  height: 50px;
  font-size: 1rem;
  text-transform: uppercase; }
  /* line 10, public/sass/_buttonStyles.scss */
  .buttonStyle:hover {
    cursor: pointer;
    background-color: white;
    color: black; }

/* line 1, public/sass/_mainBackground.scss */
.mainBackgroundImageWrapper {
  width: 100%;
  height: 500px;
  position: relative; }
  /* line 7, public/sass/_mainBackground.scss */
  .mainBackgroundImageWrapper .mainBackgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; }
  /* line 14, public/sass/_mainBackground.scss */
  .mainBackgroundImageWrapper .salesPitch {
    color: #FFFFF0;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    letter-spacing: .5rem;
    text-align: center;
    line-height: 5rem;
    text-transform: capitalize; }
  /* line 30, public/sass/_mainBackground.scss */
  .mainBackgroundImageWrapper .salesPitchBackground {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 30px; }

/* line 1, public/sass/_introduction.scss */
.introductionWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px; }
  /* line 9, public/sass/_introduction.scss */
  .introductionWrapper .joseImgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  /* line 16, public/sass/_introduction.scss */
  .introductionWrapper .joseImg {
    width: 15rem;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #B73225;
    border: 3px double #B73225; }
  /* line 24, public/sass/_introduction.scss */
  .introductionWrapper .joseCompanyImg {
    width: 20rem; }
  /* line 27, public/sass/_introduction.scss */
  .introductionWrapper .introductionName {
    text-align: left;
    font-weight: 900;
    font-size: 2.3rem; }
  /* line 33, public/sass/_introduction.scss */
  .introductionWrapper .joseIntroduction {
    width: 60%;
    font-size: 2rem;
    letter-spacing: 3px;
    font-weight: 300;
    line-height: 5rem;
    text-align: left; }
  /* line 44, public/sass/_introduction.scss */
  .introductionWrapper .introductionContactMe {
    border-top: 3px darkslateblue solid;
    font-weight: bold;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    word-wrap: break-word;
    justify-self: flex-end;
    align-items: flex-start;
    line-height: normal;
    font-size: 1.5rem; }
  /* line 59, public/sass/_introduction.scss */
  .introductionWrapper .socialMedia {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    word-wrap: normal; }
  /* line 69, public/sass/_introduction.scss */
  .introductionWrapper .socialMediaIcons {
    border-radius: 50%;
    width: 50px; }
    /* line 74, public/sass/_introduction.scss */
    .introductionWrapper .socialMediaIcons:hover {
      background-color: #6EB3DB;
      border: 3px solid #C9C50A;
      animation-name: backgroundColorFade;
      animation-delay: 0s;
      animation-duration: .4s;
      animation-timing-function: ease-in-out; }

@keyframes backgroundColorFade {
  0% {
    background-color: white; }
  80% {
    background-color: #7D0C11;
    transform: rotate(35deg); } }

@media only screen and (max-width: 1065px) {
  /* line 85, public/sass/_introduction.scss */
  .introductionWrapper {
    width: 100%;
    justify-content: center;
    align-items: center; }
    /* line 90, public/sass/_introduction.scss */
    .introductionWrapper .introductionName {
      text-align: center; }
    /* line 94, public/sass/_introduction.scss */
    .introductionWrapper .joseIntroduction {
      width: 100% !important;
      box-sizing: border-box;
      padding: 20px;
      padding: 0;
      margin: 0;
      text-align: center; }
    /* line 103, public/sass/_introduction.scss */
    .introductionWrapper .introductionSentence {
      padding: 20px; }
    /* line 106, public/sass/_introduction.scss */
    .introductionWrapper .introductionContactMe {
      width: 50%;
      margin: auto;
      align-items: flex-start; } }

/* line 1, public/sass/_territories.scss */
.territoriesWrapper {
  width: 80%;
  height: auto;
  margin: auto;
  margin-bottom: 300px;
  /*Delete*/
  text-align: left; }
  /* line 8, public/sass/_territories.scss */
  .territoriesWrapper .territoriesHeader {
    border-bottom: 3px solid darkslateblue; }
  /* line 13, public/sass/_territories.scss */
  .territoriesWrapper .territoriesImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  /* line 19, public/sass/_territories.scss */
  .territoriesWrapper .territoriesImg {
    width: 350px;
    height: 300px;
    border: double 2px black;
    box-shadow: 10px 10px 30px black;
    border-radius: 10%;
    object-fit: cover; }
  /* line 28, public/sass/_territories.scss */
  .territoriesWrapper .territoriesObject {
    text-align: center;
    margin-left: 50px; }
  /* line 33, public/sass/_territories.scss */
  .territoriesWrapper .allListings {
    text-align: center; }
  /* line 37, public/sass/_territories.scss */
  .territoriesWrapper .allListings a {
    text-decoration: none; }

/* line 1, public/sass/_contactForm.scss */
.formContainer {
  background-color: #004E7C;
  color: white;
  width: 100%;
  border: 3px solid black;
  text-align: left;
  font-size: 2rem;
  height: auto; }
  /* line 12, public/sass/_contactForm.scss */
  .formContainer .formIntroduction {
    text-align: center;
    margin-bottom: 100px; }
  /* line 17, public/sass/_contactForm.scss */
  .formContainer .allFormWrappers {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; }
  /* line 27, public/sass/_contactForm.scss */
  .formContainer .firstForm input[type="text"] {
    width: 300px;
    height: 30px;
    font-size: 1.2rem; }
  /* line 34, public/sass/_contactForm.scss */
  .formContainer .secondForm {
    display: none; }
  /* line 38, public/sass/_contactForm.scss */
  .formContainer .thirdForm {
    display: none;
    text-align: center; }

/* line 1, public/sass/_footer.scss */
.footerWrapper {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  /* line 9, public/sass/_footer.scss */
  .footerWrapper .footerFigure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
  /* line 17, public/sass/_footer.scss */
  .footerWrapper .footerFigure h3 {
    margin: auto; }
  /* line 21, public/sass/_footer.scss */
  .footerWrapper .joseStampImg {
    margin: auto;
    width: 80px;
    border-radius: 50%; }
  /* line 27, public/sass/_footer.scss */
  .footerWrapper .socialMediaFooter {
    box-sizing: border-box;
    gap: 20px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px; }
  /* line 39, public/sass/_footer.scss */
  .footerWrapper .footerLogoImg {
    width: 40px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: white; }
    /* line 44, public/sass/_footer.scss */
    .footerWrapper .footerLogoImg:hover {
      cursor: pointer;
      background-color: #6EB3DB;
      border: 3px solid #C9C50A;
      animation-name: backgroundColorFade;
      animation-delay: 0s;
      animation-duration: .4s;
      animation-timing-function: ease-in-out; }

@keyframes backgroundColorFade {
  0% {
    background-color: white; }
  80% {
    background-color: #6EB3DB;
    transform: rotate(35deg); } }

/* line 1, public/sass/_about.scss */
.aboutMeWrapper {
  width: 100%;
  height: 30rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 78, 124, 0.5); }
  /* line 10, public/sass/_about.scss */
  .aboutMeWrapper .realtorQuote {
    margin: auto;
    font-size: 1.5rem;
    width: 80%;
    font-family: 'Cookie', cursive; }
  /* line 18, public/sass/_about.scss */
  .aboutMeWrapper .aboutMeIntro {
    width: 100%;
    text-align: center;
    padding: 50px;
    box-sizing: border-box; }
  /* line 26, public/sass/_about.scss */
  .aboutMeWrapper .aboutMeImgWrapper {
    box-sizing: border-box;
    width: 100%; }
  /* line 31, public/sass/_about.scss */
  .aboutMeWrapper .aboutMeImg {
    width: 70%; }

/* line 42, public/sass/_about.scss */
.accomplishmentsWrapper {
  width: 100%;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 3px 3px 10px black; }
  /* line 53, public/sass/_about.scss */
  .accomplishmentsWrapper .accomplishmentsContainer {
    width: 25%;
    height: 200px;
    padding: 50px;
    text-align: center; }
  /* line 62, public/sass/_about.scss */
  .accomplishmentsWrapper .accomplishmentsContainer h1 {
    color: #8b0000; }
  /* line 66, public/sass/_about.scss */
  .accomplishmentsWrapper .myBackgroundContainer {
    text-align: left; }
  /* line 70, public/sass/_about.scss */
  .accomplishmentsWrapper .myBackgroundContainer h1 {
    text-align: center; }

@media screen and (max-width: 926px) {
  /* line 80, public/sass/_about.scss */
  .accomplishmentsWrapper {
    flex-direction: column; }
    /* line 83, public/sass/_about.scss */
    .accomplishmentsWrapper .accomplishmentsContainer {
      width: 45%;
      height: auto; } }

/*
  Red Highlight: #B73225

  Blue Minded: #004E7C

  Maroon 6: #591COB

  Grey Water: #5C5F58

  Lighter Grey: #DCE1E3
*/
/* line 29, public/sass/main.scss */
body {
  font-family: "Open Sans",sans-serif;
  padding: 0px;
  border: 0px;
  margin: 0;
  overflow-x: hidden !important;
  font-family: 'Playfair Display', serif;
  color: #004E7C; }
