/* line 2, public/sass/_nav.scss */
.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  height: 100px; }
  /* line 11, public/sass/_nav.scss */
  .navWrapper .navLinks {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; }
  /* line 19, public/sass/_nav.scss */
  .navWrapper .navLinks ul {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  /* line 29, public/sass/_nav.scss */
  .navWrapper ul li {
    font-size: 20px; }
  /* line 33, public/sass/_nav.scss */
  .navWrapper ul li a {
    text-decoration: none;
    color: black; }
  /* line 38, public/sass/_nav.scss */
  .navWrapper .realtorLogo {
    width: 200px;
    height: 80px;
    object-fit: contain; }

/* line 3, public/sass/main.scss */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px;
  border: 0px;
  margin: 0; }

/* line 13, public/sass/main.scss */
.mainBackgroundImageWrapper {
  width: 100%;
  height: 500px; }
  /* line 18, public/sass/main.scss */
  .mainBackgroundImageWrapper .mainBackgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover; }
