<div class="aboutMeWrapper">
    <div class="aboutMeIntro">
        <h1>Jose Martir</h1>
        <h3>Real Estate Agent</h3>
        <p class="realtorQuote">"Real estate is an imperishable asset, ever increasing in value. It is the most solid security that human ingenuity has devised. It is the basis of all security and about the only indestructible security."</p>
        <p class="realtorQuote" id="realtorQuoter">-Russel Sage</p>
    </div>

    <div class="aboutMeImgWrapper">
        <img src="images/template.jpg" alt="Jose Martir Img" class="aboutMeImg">
    </div>
</div>

<div class="accomplishmentsWrapper">
    <div class="myBackgroundContainer accomplishmentsContainer">
        <h1>My Background</h1>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, ducimus!</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nam consequuntur aperiam.</li>
        </ul>
    </div>
    <div class="professionContainer accomplishmentsContainer">
        <h1>What I do</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque nulla amet blanditiis numquam ipsam molestias corporis exercitationem error voluptate alias.</p>
    </div>
    <div class="bioContainer accomplishmentsContainer">
        <h1>Bio</h1>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit eius temporibus non provident neque eos quos quaerat soluta earum inventore?
    </div>
</div>