<div class="aboutMeWrapper">
    <div class="aboutMeIntro">
        <h1>Jose Martir</h1>
        <h3>Real Estate Agent</h3>
        <p class="realtorQuote">"Real estate is an imperishable asset, ever increasing in value. It is the most solid security that human ingenuity has devised. It is the basis of all security and about the only indestructible security."</p>
        <p class="realtorQuote" id="realtorQuoter">-Russel Sage</p>
    </div>

    <div class="aboutMeImgWrapper">
        <img src="images/template.jpg" alt="Jose Martir Img" class="aboutMeImg">
    </div>
</div>

<div class="accomplishmentsWrapper">
    <div class="myBackgroundContainer accomplishmentsContainer">
        <h1>My Background</h1>
        <ul>
            <li>I started my career designing homes and working with contractors in the flooring industry</li>
            <li>I became a Real Estate Agent in 2019.</li>
            <li>I work for with of the most successful realestate brokers in New Jersey.</li>
        </ul>
    </div>
    <div class="professionContainer accomplishmentsContainer">
        <h1>What I do</h1>
        <p>I mostly work with buyers and help people get the best deal that makes sense for them and their families in this tougher market. I also work with sellers as well.</p>
    </div>
    <div class="bioContainer accomplishmentsContainer">
        <h1>My Promise</h1>
        <p>I promise to never let the phone keep ringing and not get back to my clients. I understand the stress for a family or individual to buy a home, 
            and I will work to make sure you have the answers <b>on time</b> and feel safe and secure moving into your new home.</p>
    </div>
</div>