<div class="aboutMeWrapper">
    <div class="aboutMeIntroContainer">
        <h1>Jose Martir</h1>
        <h3>Real Estate Agent</h3>
    </div>
    
    <div class="aboutMeImgContainer">
        <img src="images/template.jpg" alt="Jose Martir" class="aboutMeImg">
    </div>
</div>

<div class="accomplishmentsWrapper">
    <div class="myBackgroundContainer accomplishmentsContainer">
        <h1>My Background</h1>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, ducimus!</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nam consequuntur aperiam.</li>
        </ul>
    </div>
    <div class="professionContainer accomplishmentsContainer">
        <h1>What I do</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque nulla amet blanditiis numquam ipsam molestias corporis exercitationem error voluptate alias.</p>
    </div>
    <div class="bioContainer accomplishmentsContainer">
        <h1>Bio</h1>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit eius temporibus non provident neque eos quos quaerat soluta earum inventore?
    </div>
</div>