<footer>
  <div class="footerWrapper">
    <div class="footerFigure">
      <img src="images/joseStamp.jpg" alt="Jose Stamp" class="joseStampImg">
      <h3>Jose Martir</h3>
    </div>

    <div class="footerContactInfo">
      <h3>Phone: 732-555-5555</h3>
      <h3>Email: JoseMartir@Realtor.com</h3>
    </div>

    <div class="socialMediaFooter">
      <img src="images/facebook.png" alt="Facebook" class= "footerLogoImg">
      <img src="images/instagram.png" alt="Instagram" class= "footerLogoImg" id="footerLogoInsta">
    </div>

  </div>

</footer>

