<main>
    <section>
        <div class="mainBackgroundImageWrapper">
            <img src="images/mainImage.jpg" class="mainBackgroundImage"  alt="Main Image">
        <div class="salesPitch">
            <div class="salesPitchBackground">
                <h1>Let's find your dream  home</h1>
            </div>
            </div>
        </div>
    </section>


    <section 
    data-aos="fade-left"
    data-aos-duration="2000"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine">
        <div class="introductionWrapper">
            <div class="joseImgWrapper">
                <img src="images/needleDick.png" class="joseImg" alt="Jose Martir">
                <img src="images/realtorLogo.jpg" class="joseCompanyImg" alt="Company Logo">
            </div>
            <div class="joseIntroduction">
                <h1 class="introductionName">Jose Martir</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, voluptates nulla corporis deleniti commodi maiores quasi in tempore corrupti inventore!</p>
                <div class="introductionContactMe">
                    <h3>Contact Me:</h3>
                    <p>Cell: 732-555-5555</p>
                    <p>Office: 732-555-5555</p>
                    <p>Email: JoseMartir@realtor.com</p>
                    <div class="socialMedia">
                        <a href="#"><img src="images/facebook.png" alt="Facebook Icon" class="socialMediaIcons"></a>
                        <a href="#"><img src="images/instagram.png" alt="Instagram Icon" class="socialMediaIcons"></a>
                        <p><a href="#">Contact Me</a></p>
                    </div>
                </div>
            </div>
    </div>
    </section>

    <!-- <section>
        <div class="territoriesWrapper">
            <div class="territoriesHeader">
                <h1>Featured Territories</h1>
            </div>
            <div class="territoriesImgContainer">

                <div class="territoriesObject">
                    <h3>Ocean</h3>
                    <a href="/users/1/listings"><img src="images/oceanCounty.jpg" alt="Ocean County" class="territoriesImg"></a>
                </div>

                <div class="territoriesObject">
                    <h3>Monmouth</h3>
                    <a href="/users/1/listings"><img src="images/monmouth.jpg" alt="Monmouth County" class="territoriesImg"></a>
                </div>

                <div class="territoriesObject">
                    <h3>Middlesex</h3>
                    <a href="/users/1/listings"><img src="images/newBrunswick.jpg" alt="Middlesex County" class="territoriesImg"></a>
                </div>
            </div>
            <h1 class="allListings"><a href="/listings">All Listings</a></h1>
        </div>
    </section> -->
</main>

<section> <!--Form section-->
    <Form>
        <div class="formContainer">
            <div class="formIntroduction">
                <h1>Set Up a Meeting With Us</h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo consectetur sequi beatae sed recusandae modi nisi similique, numquam architecto adipisci.
            </div>
            <div class="firstForm allFormWrappers" id="firstFormWrapper">
                <label for="">
                    Full Name:</br>
                    <input type="text">
                </label>


                <label for="">
                    Email Address:</br>
                    <input type="text">
                </label>

                <label for="">
                    Phone Number:</br>
                    <input type="text">
                </label></br>
                <input type="button" id="firstFormButton" value="Submit" class="buttonStyle">

            </div>

            <div class="secondForm allFormWrappers" id="secondFormWrapper">
                How Did You Hear About Us?
                <label for="">

                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </label></br>
                <input type="button" id="secondFormButton" value="Submit" class="buttonStyle">

            </div>

            <div class="thirdForm allFormWrappers" id="thirdFormWrapper">
                <label for="">
                    Best Way To Contact You?</br>
                    <input type="button" value="Call" class="buttonStyle">
                    <input type="button" value="Text" class="buttonStyle">
                    <input type="button" value="Email" class="buttonStyle">
                </label></br>
            </div>
        </div>
    </form>
</section>




<script>
    AOS.init();
</script>


<script src="scripts/contactForm.js"></script>
