<main>
    <section>
        <div class="mainBackgroundImageWrapper">
            <img src="images/mainImage.jpg" class="mainBackgroundImage"  alt="Main Image">
        <div class="salesPitch">
            <div class="salesPitchBackground">
                <h1>Let's find your dream  home</h1>
            </div>
            </div>
        </div>    
    </section>


    <section>
        <div class="introductionWrapper">
            <div class="joseImgWrapper">
                <img src="images/needleDick.png" class="joseImg" alt="Jose Martir">
                <img src="images/realtorLogo.jpg" class="joseCompanyImg" alt="Company Logo">
            </div>
            <div class="joseIntroduction">
                <h1 class="introductionName">Jose Martir</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere laudantium repellat atque, eveniet ipsa dolorum fugit, neque adipisci officiis culpa autem ipsam?</p>
                <div class="introductionContactMe">
                    <h3>Contact Me:</h3>
                    <p>Cell: 732-555-5555</p>
                    <p>Office: 732-555-5555</p>
                    <p>Email: JoseMartir@realtor.com</p>
                    <div class="socialMedia">
                        <a href="#"><img src="images/facebook.png" alt="Facebook Icon" class="socialMediaIcons"></a>
                        <a href="#"><img src="images/instagram.png" alt="Instagram Icon" class="socialMediaIcons"></a>
                        <p><a href="#">Contact Me</a></p>
                    </div>
                </div>
            </div>
    </div>
    </section>

    <section>
        <div class="territoriesWrapper">
            <div class="territoriesHeader">
                <h1>Featured Territories</h1>
            </div>
            <div class="territoriesImgContainer">
        
                <div class="territoriesObject">
                    <h3>Ocean</h3>
                    <a href="#"><img src="images/oceanCounty.jpg" alt="Ocean County" class="territoriesImg"></a>
                </div>
                
                <div class="territoriesObject">
                    <h3>Monmouth</h3>
                    <a href="#"><img src="images/monmouth.jpg" alt="Monmouth County" class="territoriesImg"></a>
                </div>
                
                <div class="territoriesObject">
                    <h3>Middlesex</h3>
                    <a href="#"><img src="images/newBrunswick.jpg" alt="Middlesex County" class="territoriesImg"></a>
                </div>
        
            </div>
        </div>
    </section>
</main>

<section>
    <div class="contactForm">
        <div class="contactFormHeader">
            <h1>Set up a meeting!</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum ad commodi molestiae ex aliquid vero laudantium fugit magni ducimus quisquam.</p>
        </div>
        <form action="#">
    
            <div class="firstForm" id="firstForm" 
            data-aos="fade-left"
            data-aos-anchor="#example-anchor"
            data-aos-offset="500"
            data-aos-duration="1000">

                <div class="contactFormContainer" id="contactFormContainer">
                    <label for="forNameInput">
                        <input type="text" id="forNameInput" class="firstFormStyle" placeholder="Full Name">
                    </label>
                </div>
                
                <div class="contactFormContainer">
                    <label for="forNumberInput">
                        <input type="text" id="forNumberInput" class="firstFormStyle" placeholder="Phone Number">
                    </label>
                </div>
                <div class="contactFormContainer">
                    <label for="forEmailInput">
                        <input type="text" id="forEmailInput" class="firstFormStyle" placeholder="Email Address">
                    </label>
                </div>
                <input type="button" value="Button" id="firstFormSend">
            </div>
    
            <div class="secondForm" id="secondForm">
                <div class="contactFormContainer">
                    <label for="forReasonInput"><textarea name="forReasonInput" id="forReasonInput" class ="secondFormStyle" cols="30" rows="10" placeholder="Reason For Contacting Us Today?"></textarea></label>
                </div>
                <input type="button" value="Button" id="secondFormSend">
            </div>
    
            <div class="thirdForm" id="thirdForm">
                <div class="contactFormContainer">
                    <label for="forHowInput"><input type="text" id="forHowInput" class="thirdFormStyle" placeholder="How Did You Hear About Us?"></label>
                    
                </div>
                <button type="submit" id="submitFullForm">Button</button>
            </div>
        </form>
    </div>
</section>

<script>
    AOS.init();
</script>

<script src="scripts/contactForm.js"></script>