<div class="mainBackgroundImageWrapper">
        <img src="images/mainImage.jpg" class="mainBackgroundImage"  alt="Main Image">
    <div class="salesPitch">
        <h1>Let's find your next home</h1>
        <h3>Contact me</h3>
    </div>
</div>    
<div class="introductionWrapper">
        <div class="joseImgWrapper">
            <img src="images/needleDick.png" class="joseImg" alt="Jose Martir">
            <img src="images/realtorLogo.jpg" class="joseCompanyImg" alt="Company Logo">
        </div>
        <div class="joseIntroduction">
            <p class="introductionName">Jose Martir</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere laudantium repellat atque, eveniet ipsa dolorum fugit, neque adipisci officiis culpa autem ipsam?</p>
        </div>
        
</div>