<header>
    <nav>
        <div class="navWrapper">
            <div class="logo">
                <figure>
                    <img src="images/realtorLogo.jpg" class="realtorLogo" alt="Logo" title="Jose Martir Realestate Agent">
                </figure>
            </div>
            <div class="navLinks">
                <ul>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>